body {
    margin: 0;
}

.global {
    display: GRID;
    justify-content: center;
}

.display {
    display: flex;
    margin: 0px 120px;
    color: #FCFBFF;
    width: 1200px;
}

.header-line {
    padding-top: 44px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 29.04px;
}

.logo {
    font-family: 'Monserrat';
    font-size: 24px;
    font-weight: 700;
    line-height: 30px
}

.nav-item {
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    line-height: 21px;
    margin-left: 50px;
}

.nav {
    margin-left: 217px;
    display: flex;
    width: 472px;
    height: 21px;
}

.menu {
    margin-left: 30px;
}

.lupa {
    position: relative;
    align-items: center;
    display: flex;
    margin-left: 278.23px;
}

#search-icon {
    cursor: pointer;
    margin-left: 10px;
}

#search-icon.hidden {
    opacity: 0;
    pointer-events: none; 
}

#search-input.active {
    width: 200px;
    display: block;
    margin-left: -210px;
    margin-right: -10px;
    background-color: #e0e0e077;
}

#search-input {
    width: 200px;
    border: none;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    display: none;
}

.block-WeHelpYou {
    background: #154444;
    display: flex;
    width: 1200px;
    height: 560px;
    margin: 0px 120px 0px;
    margin-top: 26.85px;
}

.img-chair {
    width: 411px;
    height: 560px;
    object-fit: cover;
}


.text-header {
    padding-left: 100px;
    padding-top: 101px;
}

.text-header h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 56px;
    width: 671px;
    height: 136px;
    color: #FFFFFF;
    padding-bottom: 20px;
    margin: 0px;
}

.text-header p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    width: 488px;
    height: 75px;
    color: #FFFFFF;
    padding-bottom: 35px;
    margin: 0px;
}

.svg-exploreMore:hover{
    opacity: 90%;
}

.svg-exploreMore {
    width: 172px;
    height: 56px;
}

.Block-trustedBy {
    margin: 140px 120px 0px 120px;
    width: 1200px;
    height: 134px;
}

.Block-trustedBy h1 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #244D4D;
    padding-left: 356.58px;
}

.card-item {
    margin-left: 118.6px;
}

.block-AboutUs {
    display: flex;
    margin: 200px 120px 0px 120px;
    Width: 1200px;
    height: 612.21px;
}

.container3-text {
    padding-top: 20.5px;
    margin-left: 100px;
}

.container3-text h2{
    width: 407.77px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #244D4D;
    margin:0px;
}

.container3-text p {
    width: 436.73px;
    height: 75px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #444444;
}

.icon1 {
    padding-top: 40px;
    display:flex;
    margin: 0px;
}

.icon-shield {
    width: 50px;
    height: 50px;
}

.icon1-text {
    margin: 0px;
    padding-left: 28px;
}

.icon1-text h1 {
    margin: 0px;
    width: 129px;
    height: 26px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #244D4D;
}

.icon1-text p {
width: 306.21px;
height: 52px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #383738;
margin: 14px 0px 0px;
}

.icon2 {
    display: flex;
    padding-top: 30px;
}

.icon-mark {
    width: 50px;
    height: 50px;   
}

.icon2-text {
    width: 341.74px;
    height: 95px;
    margin: 0px;
    padding-left: 28px;
}

.icon2-text h1 {
    width: 131px;
    height: 27px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #244D4D;
    margin: 0px;
}

.icon2-text p {
    width: 271.74px;
    height: 54px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #383738;
    margin: 14px 0px 0px;
}

.icon3 {
    display: flex;
    padding-top: 30px;
}

.icon-shpping {
    width: 50px;
    height: 50px;   
}

.icon3-text {
    width: 341.74px;
    height: 95px;
    margin: 0px;
    padding-left: 28px;
}

.icon3-text h1 {
    width: 170px;
    height: 27px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #244D4D;
    margin: 0px;
}

.icon3-text p {
    width: 271.74px;
    height: 54px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #383738;
    margin: 14px 0px 0px;
}

.OurPopularFurniture {
    width: 1200px;
    height: 584.88px;
    margin: 140px 120px 0px 120px;
}

.AllOfOur_sroll {
    display: flex;
}

.scroll-arrow {
    align-content: center;
    margin: 10.56px 0px 0px 296.4px;
}

.right-arrow:hover {
    opacity: 80%;
    cursor: pointer;
}

.left-arrow:hover {
    opacity: 80%;
    cursor: pointer;
}

.container4-text h2 {
    width: 370px;
    height: 52px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
    color: #242424;
    margin: 0px;
}

.container4-text p {
    width: 819.7px;
    height: 50.56px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #383738;
    margin: 20px 0px 0px 0px;
}

.rent-cards {
    display: flex;
    padding-top: 80px;
}

.rent1 {
    width: 380px;
    height: 382.31px;
    background: #FFFFFF;
    box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.07);
}

.img2 {
    width: 380px;
    height: 246.34px;
    object-fit: cover;
}

.text-svg1 {
    display:flex;
    width: 331.88px;
    height: 27px;
    padding: 30.03px 0px 0px 24.06px;
    align-items: center;
}

.text-svg1 p {
    width: 170px;
    height: 27px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #242424;
    margin: 0px;
}

.svg-like_repost {
    display: flex;
    width: 60px;
    height: 26px;
    padding: 0px 0px 0px 101.88px;
}


.svg-like:hover {
    opacity: 90%;
}

.svg-like {
    cursor: pointer;
}

.svg-repost:hover {
    opacity: 90%;
}

.svg-repost {
    padding-left: 8px;
    cursor: pointer;
}

.text-svg2 h1 {
    margin: 0px;
    width: 46px;
    height: 31px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #154444;
}

.button-bynow:hover {
    opacity: 90%;
}

.button-bynow {
    margin-left: 206.45px;
    Width: 78.85px;
    Height: 32px;
    cursor: pointer;
}

.rent2 {
    width: 380px;
    height: 382.31px;
    background: #FFFFFF;
    box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.07);
    margin-left: 30px ;
}

.img3 {
    width: 380px;
    height: 246.34px;
    object-fit: cover;
}

.text-svg2 {
    display:flex;
    width: 331.88px;
    height: 27px;
    padding: 30.03px 0px 0px 24.06px;
    align-items: center;
}

.text-svg2 p {
    width: 170px;
    height: 27px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #242424;
    margin: 0px;
}

.svg2 {
    display: flex;
    width: 60px;
    height: 26px;
    padding: 0px 0px 0px 101.88px;
}

.rent3 {
    width: 380px;
    height: 382.31px;
    background: #FFFFFF;
    box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.07);
    margin-left: 30px ;
}

.allFurniture {
    width: 1200px;
    height: 593.39px;
    margin: 140px 120px 0px 120px;
    text-align: center;
}

.option1:hover {
    cursor: pointer;
    opacity: 80%;
}

.option2:hover {
    cursor: pointer;
    opacity: 80%;
}

.container5-text {
    width: 1200px;
    height: 103.33px;
}

.container5-text h1 {
width: 210px;
    height: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #242424;
    margin: auto;
}

.options {
    display: flex;
    width: 720px;
    height: 35.33px;
    padding-top: 20px;
    padding-left: 240px;
}

.option2 {
    padding-left:100px;
}

.img-container {
    display: flex;
    width: 1200px;
    height: 410.06px;
    padding-top: 80px;
    position: absolute;
}

.img_block1 {
    width: 577.48px;
    height: 410.07px;
}

.left-border {
    width: 190.1px;
    height: 85.87px;
    background: #154444;
}

.furniture-block {
    display:flex;
    position: absolute;
    padding: 9.62px 0px 0px 12.58px;
}

.img-furniture {
    position: absolute;
    width: 552.84px;
    height: 389.32px;
    object-fit:cover;
    align-items: end;
}

.right-border {
    margin: 314.57px 0px 0px 373.8px;
    width: 190.1px;
    height: 85.87px;
    background: #154444;
}

.nav2 {
    display: flex;
    padding-top: 40.87px;
    padding-left: 147px;
    width: 475.4px;
    height: 345px;
}

.liv-bed {
    width: 220px;
    height: 336.83px;
}

.living:hover {
    opacity: 80%;
    cursor: pointer;
}

.living {
    width: 222px;
    height: 90px;
}

.dining:hover {
    opacity: 80%;
    cursor: pointer;
}

.dining {
    width: 222px;
    height: 90px;
    margin-top: 33.42px;
}

.bed:hover {
    opacity: 80%;
    cursor: pointer;
}

.bed {
    width: 222px;
    height: 90px;
    margin-top: 33.42px;
}

.kit-hall {
    width: 220px;
    height: 336.83px;
    margin-left: 35px;
}

.kitchen:hover {
    opacity: 80%;
    cursor: pointer;
}

.kitchen {
    width: 222px;
    height: 90px;
}

.office:hover {
    opacity: 80%;
    cursor: pointer;
}

.office {
    width: 222px;
    height: 90px;
    margin-top: 33.42px;
}

.hallway:hover {
    opacity: 80%;
    cursor: pointer;
}

.hallway {
    width: 222px;
    height: 90px;
    margin-top: 33.42px
}

.OurCustomers {
    display: flex;
    width: 1200px;
    height: 492.4248046875px;
    margin: 140px 120px 0px 120px;
}

.left-block {
    display:flex ;
    width: 564.29px;
    height: 492.42px;
}

.circle {
    width: 492.42px;
    height: 492.42px;
    background: #244D4D;
    clip-path: ellipse(246.21px 246.21px at 247px 247px);
}

.img-customers {
    width: 459.09px;
    height: 492.42px;
    object-fit: cover;
}

.text-rb {
    width: 535.07px;
    height: 191.36px;
    padding: 105.41px 0px 0px 100.64px;
}

.text-rb h1 {
    width: 535.07px;
    height: 96px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #242424;
    margin: 0px;
}

.text-rb p {
    width: 535.07px;
    height: 75.36px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #383738;
    margin: 20px 0px 0px 0px;
}

.svg-blockRB {
    padding: 40.25px 0px 0px 100.64px;
}

.SubscribeToGet {
    width: 1200px;
    height: 394.32px;
    display: flex;
    margin: 140px 120px 0px 120px;
}

.background {
    width: 1200px;
    height: 394.32px;
    background: #F4F6F6;
}

.text-container7 {
    width: 605px;
    height: 164px;
    padding: 68px 0px 0px 297.5px;
}

.text-container7 h1 {
    width: 605px;
    height: 96px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #222222;
    text-align: center;
    margin: 0px;
}

.text-container7 p {
    width: 493px;
    height: 48px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    text-align: center;
    padding: 20px 56px 0px 56px;
    margin: 0px;
}

.enteryouremail {
    margin: 40px 0px 0px 364.5px;
    width: 475.5px;
    height: 67px;
    background: #FFFFFF;
    align-content: center;
    display: flex ;
    align-items: center;
}

.convert-i-text {
    width: 230px;
    height: 52px;
    display: flex;
    align-items: center;
}

#text::placeholder {
    width: 185px;
    height: 22px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400px;
    font-size: 16px;
    line-height: 22px;
    color: #616161;
    opacity: 50%;
    outline: none;
}

.register:hover {
    opacity: 80%;
    cursor: pointer;
}

.register {
    margin: 0px 19.19px 0px 100px;
    width: 125.32px;
    height: 52px;
    background-color: #305F64;
}

.register p {
    width: 125.32px;
    height: 22px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
}

#text {
    width: 185px;
    height: 22px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400px;
    font-size: 16px;
    line-height: 22px;
    color: #666666;    
    outline: none;
}

.convert {
    width: 19px;
    height: 19px;
    margin: 2px 0px 0px 15.52px;
}

.youremail {
    width: 250px;
    border: none;  
    background: transparent;
    margin-left: 12px;
}

.container-footer {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 442px;
    padding-top: 140px;
    margin: auto;
}

.footer {
    width: 1440px;
    height: 442px;
    background: #305F64;
    justify-content: center;
}

.footer-info {
    display: flex;
    width: 1440px;
    height: 342.9px;
}

.block1 {
    margin: 100.27px 0px 0px 120px;
    width: 308px;
}

.logo-footer {
    width: 147px;
    height: 29px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0px;
}

.block1 p {
    width: 308px;
    height: 78px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 24px 0px 0px 0px;
}

.block1 h1 {
    width: 117px;
    height: 26px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 40px 0px 0px 0px;
}

.svg1-block1:hover {
    opacity: 80%;
    cursor: pointer;
}

.svg-block1 {
    display: flex;
    margin: 20.46px 0px 0px 0px;
}

.svg2-block1:hover {
    opacity: 80%;
}

.svg2-block1 {
    margin-left: 15px;
    cursor: pointer;
}

.block2 {
    width: 117px;
    height: 189.87px;
    margin: 100.27px 0px 0px 157.02px;
}

.block2 h1 {
    width: 117px;
    height: 26px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0px;
}

.nav3 {
    display: grid;
    width: 74px;
    height: 139.87px;
    margin-top: 30px;
}

.nav3-item {
    width: 74px;
    height: 22.97px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav3-item2 {
    width: 74px;
    height: 22.97px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 16px;
}

.block3 {
    width: 156px;
    height: 188px;
    margin: 101.77px 0px 0px 100.46px;
}

.block3 h1 {
    width: 156px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0px;
}

.nav4 {
    display: grid;
    width: 74px;
    height: 139.87px;
    margin-top: 30px;
}

.nav4-item {
    width: 94px;
    height: 23px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav4-item2 {
    width: 94px;
    height: 23px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 16px;
}

.block4 {
    width: 253px;
    height: 181.5px;
    margin: 102.77px 0px 0px 108.52px;
}

.text-block4 {
    width: 240px;
    height: 93.5px;
}

.text-block4 h1 {
    width: 113px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0px;
}

.text-block4 p {
    width: 240px;
    height: 46px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 30px 0px 0px 0px;
}

.EmailAddress {
    width: 253px;
    height: 48px;
    background: #FFFFFF;
    margin-top: 40px;
    display: flex;
    align-content: center;
    align-items: center;
}

.Email {
    border: none;
    margin-left: 22px;
}

.orange-button:hover {
    opacity: 80%;
    cursor: pointer;
}

.mark-line {
    width: 1440px;
    height: 1px;
    background: #407980;
    margin: 40.19px 0px 0px 0px;
}

.copyright {
    text-align: center;
    margin-top: 20.08px;
}

.copyright p {
    height: 23px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 0px;
}

.sofa-img {
    width: 596px;
    height: 577px;
    margin: -26px 0px 0px -26px;
    object-fit: cover;
}

.shadow-box {
    width: 596px;
    height: 577px;
    background: #DEE4E2;
    display: flex;
    margin-left: 26px;
}

.box-img {
    width: 631.24px;
    height: 612.21px;
}